{# templates/produit/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prix<th>
        </tr>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.prix }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

