{# templates/produit/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier un produit{% endblock %}

{% block body %}
    <h1>Modifier un produit</h1>
    <div>{{ form(form) }}</div>
{% endblock %}

