{# templates/produit/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau produit{% endblock %}

{% block body %}
    <h1>Ajout d'un nouveau produit</h1>
    <div>{{ form(form) }}</div>
{% endblock %}

