{% extends 'base.html.twig' %}

{% block title %}Catégorie Détails{% endblock %}

{% block body %} 
    <h1>Voici la catégorie que vous cherchiez!<h1>
    <p><h5>ID : </h5>{{ categorie.id }}</p>
    <p><h5>Nom : </h5>{{ categorie.nom }}</p>
    <p><h5>Description : </h5>{{ categorie.description }}</p>
{% endblock %}