
{# templates/categorie/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <!--<th>Description</th>-->
        </tr>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.nom }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

